<header class="header">
    <div class="container-2">
        <div class="header__inner">
            <a class="logo__link" href="/portfolio" title="logotype - 2023 © copyright maxuiux">
                <svg class="logo" alt="Logo Maxuiux">
                    <use xlink:href="img/sprite.svg#logo"></use>
                </svg>
            </a>
            <div class="rubberfield"></div>
            <button class="header-button">
                Offer a job
            </button>
        </div>
    </div>

    <div class="social">
        <div class="social__inner">
            <div class="social-anim-line">
                <div class="social-anim-line__dotted"></div>
            </div>
            <div class="social-icons">
                <a class="social-icon" href="https://www.behance.net/maxuiux" target="_blank">
                    <svg class="social-icon__behance">
                        <use xlink:href="img/sprite.svg#behance"></use>
                    </svg>
                </a>
                <a class="social-icon" href="https://codepen.io/maxuiux" target="_blank">
                    <svg class="social-icon__codepen">
                        <use xlink:href="img/sprite.svg#codepen"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="pattern-anim">
        <div class="pattern-anim__inner">
            <div class="pattern-anim__icon pattern-anim__icon--x pattern-anim__icon--pos-1">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-x"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--square pattern-anim__icon--pos-2">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-square"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--circle pattern-anim__icon--pos-3">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-circle"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--triangle pattern-anim__icon--pos-4">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-triangle"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--x pattern-anim__icon--pos-5">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-x"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--square pattern-anim__icon--pos-6">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-square"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--circle pattern-anim__icon--pos-7">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-circle"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--triangle pattern-anim__icon--pos-8">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-triangle"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--square pattern-anim__icon--pos-9">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-square"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--x pattern-anim__icon--pos-10">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-x"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--triangle pattern-anim__icon--pos-11">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-triangle"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--circle pattern-anim__icon--pos-12">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-circle"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--x pattern-anim__icon--pos-13">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-x"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--square pattern-anim__icon--pos-14">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-square"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--triangle pattern-anim__icon--pos-15">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-triangle"></use>
                </svg>
            </div>
            <div class="pattern-anim__icon pattern-anim__icon--square pattern-anim__icon--pos-16">
                <svg>
                    <use xlink:href="img/sprite.svg#icon-square"></use>
                </svg>
            </div>
        </div>
    </div>
</header>