<!--
               ,,
          ,@╣▒▒▒▒▒▒╣╗,
         ╢▒▒▒▒```"╢▒▒▒@
        ╢▒▒▒▒▒      ╨▒▒╣
        ▒▒▒▒▒▒        ╙▒    ╓╥╥╖ ╥             ╥     ╓╖   ╥    ╥      ╥
        ║▒▒▒▒▒   ]Ñ╖      ╓╢`   ╙▒   `╢╖,╥Ñ`  ]▒     ║[   ,    ▒     ]▒   ╙╣╖╓╣╜
         ╙▒▒▒▒   ]▒▒╢╖    ║[     ▒    ,╢╣╣    ]▒     ║[   ▒    ▒     ]▒    ╓╢╣╖
           ╙╝▒   ]▒╝╜      ╙ß╥╓╗Ñ▒   ╙╜   ╙`   ╙╣╗╖╥╣╜    ▒     ╢N╖╥@╜    ╨╜  `╝
-->
<!--
		https://maxuiux.github.io/portfolio/ 2023 © copyright maxuiux
-->
<html lang="@@lang">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="@@description">
	<meta name="keywords" content="@@keywords">
	<link rel="shortcut icon" href="@@favicon.svg" type="image/svg+xml">
	<link rel="shortcut icon" href="@@favicon.webp" type="image/webp">
	<link rel="shortcut icon" href="@@favicon.png" type="image/x-icon">
	<link rel="shortcut icon" href="@@favicon.ico" type="image/x-icon">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/style.min.css?ver=0.0.3">
	<script src="https://www.unpkg.com/@r3-dev/brand@1.2.0/dist/index.umd.js"></script>
	<title>@@title</title>
</head>