<main class="main">

    <div class="main-info">
        <div class="main-info__inner">
            <h1 class="max">
                Max
            </h1>
            <div class="photo">
                <div class="photo__inner">
                    <picture>
                        <source type="image/webp" srcset="img/photo.webp">
                        <img src="img/photo.png" alt="Photo Maxuiux" loading="lazy">
                    </picture>
                    <h2 class="dev">
                        Developer
                    </h2>
                </div>
            </div>
        </div>
        <div class="mobile-info">
            <div class="container-2">
                <div class="mobile-info__inner">
                    <div class="mobile-info__title">
                        Max
                    </div>
                    <div class="mobile-info__subtitle">
                        Developer
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card__items">
        <a href="/portfolio/technical-designer" class="card__item">
            <div class="card__img">
                <picture>
                    <source type="image/webp" srcset="img/card-preview-01.webp">
                    <img src="img/card-preview-01.png" alt="Technical Design" loading="lazy">
                </picture>
            </div>
            <div class="card__inner">
                <div class="card__title">
                    Technical Design
                </div>
                <div class="card__btn">
                    View
                </div>
            </div>
        </a>
        <a href="/portfolio/web-developer" class="card__item">
            <div class="card__img">
                <picture>
                    <source type="image/webp" srcset="img/card-preview-02.webp">
                    <img src="img/card-preview-02.png" alt="Web Developer" loading="lazy">
                </picture>
            </div>
            <div class="card__inner">
                <div class="card__title">
                    Web Developer
                </div>
                <div class="card__btn">
                    View
                </div>
            </div>
        </a>
    </div>
</main>