<div class="modal">
    <div class="modal__inner">
        <div class="modal-content">
            <div class="modal-content__inner">
                <div class="modal-content__title">
                    Offer a job
                </div>
                <div class="modal-content__icon">
                    <svg class="modal-content__icon-sprite">
                        <use xlink:href="img/sprite.svg#verify"></use>
                    </svg>
                </div>
            </div>
            <div class="modal-content__links">
                <a class="modal-content__link" href="mailto:maxuiuxofficial@gmail.com" >
                    <svg class="modal-content__link-icon">
                        <use xlink:href="img/sprite.svg#email"></use>
                    </svg>
                    <div class="modal-content__link-title">
                        maxuiuxofficial@gmail.com
                    </div>
                </a>
                <a class="modal-content__link" href="https://t.me/maxuiux" target="_blank">
                    <svg class="modal-content__link-icon">
                        <use xlink:href="img/sprite.svg#telegram"></use>
                    </svg>
                    <div class="modal-content__link-title">
                        maxuiux
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>