*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	position: relative;
}

body {
	max-width: 100vw;
	width: 100%;
	position: relative;
	font-family: 'Poppins', sans-serif;
	@include fz24;
	color: $black;
	text-decoration: none;
	@include bgLinerColor;
	position: relative;
	overflow-x: hidden;
	z-index: $z-index-0;

	&::before {
		content: "";
		position: fixed;
		max-width: 390px;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		background-color: rgba($white-gray, 0.8);
		@include bgBlur;
		overflow: hidden;
		z-index: $z-index-minus-1;
		transition: all $transition-1;
	}
}

a {
	color: $black;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 14px 0;
}

button {
	color: $white;
	@include no-btn;
	display: inline-block;
}

img {
	display: flex;
	pointer-events: none;
	background-repeat: no-repeat;
	background-position: center center;
}

svg {
	display: block;
}

::selection {
	background: $main-color;
	color: $white;
}

::-moz-selection {
	background: $main-color;
	color: $white;
}

::-webkit-selection {
	background: $main-color;
	color: $white;
}

.btn {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	@include fz24;
	font-weight: 700;
	color: $white;
	background-color: $main-color;
	text-transform: uppercase;
	border-radius: $border-radius-24;
	padding: 10px 37px;
	width: 200px;
	height: 64px;
	cursor: pointer;
	@include btnTransition;
	text-decoration: none;

	&:hover,
	&:focus {
		@include btnHover;
	}

	&:active {
		box-shadow: none;
	}
}

.container {
	max-width: 1742px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.container-2 {
	max-width: 1752px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.overflow {
	overflow: hidden;
}

.err {
	text-align: center;
	color: $white;
	position: absolute;
	top: 212px;
	left: 0;
	right: 0;
	padding: 0 25px;
}

.err__title {
	@include fz128;
}

.err__subtitle {
	a {
		color: $white;
		border-radius: $border-radius-24;
		transition: color $transition-1, background-color $transition-1, box-shadow $transition-1;

		&:hover {
			@include btnHover;
		}
	}
}

.header {
	max-width: 100%;
	width: 100%;
}

.header__inner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 90px;
	position: relative;
	z-index: $z-index-3;
	transition: all $transition-1;
}

.header__inner--padding {
	justify-content: space-between;
}

.logo__link {
	margin-left: auto;
	z-index: $z-index-4;
}

.rubberfield {
	max-width: 580px;
	width: 100%;
}

.header__inner--margin {
	margin: initial;
}

.logo {
	display: block;
	width: 64px;
	height: 64px;
	color: $white;
	transition: color $transition-1;
}

.logo-mobile {
	display: none;
}

.logo--size {
	width: 284.23px;
}

.logo__link:hover,
.logo__link:focus {
	.logo {
		color: $black-green;
	}
}

.header-button {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	@include fz24;
	font-weight: 700;
	color: $white;
	background-color: $black;
	border-radius: $border-radius-24;
	padding: 10px 37px;
	width: 202px;
	height: 100%;
	min-height: 64px;
	@include btnTransition;

	&:hover,
	&:focus {
		@include btnHover;
	}
}

.main-info {
	pointer-events: none;
}

.max {
	@include fz300;
	color: $black-green;
	position: fixed;
	top: 313px;
	left: 458px;
	transition: all $transition-1;
}

.photo {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	min-height: 100%;
	z-index: $z-index-2;

	&__inner {
		position: relative;
	}

	img {
		position: fixed;
		top: 0;
		left: 0;
		object-fit: cover;
		height: 100%;
	}
}

.dev {
	@include fz270;
	color: $white;
	position: fixed;
	top: 540px;
	left: 458px;
	text-shadow: $box-shadow-3;
	transition: all $transition-1;
}

.max,
.dev {
	z-index: $z-index-1;
}

.social {
	height: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 146px;
	z-index: $z-index-0;
	transition: all $transition-1;
}

.social__inner {
	height: 100%;
	@include dFlex;
	flex-direction: column;
}

.social-anim-line {
	overflow: hidden;
}

.social-anim-line__dotted {
	width: 2px;
	background-color: $white;
	position: relative;
	border-radius: $border-radius-24;

	&::before,
	&::after {
		content: "";
		@include posCenterLeft;
		width: 2px;
		height: 23px;
		@include bgLinerColor;
		border-radius: $border-radius-24;
		animation-iteration-count: infinite;
	}
}

.social-anim-line {
	height: 100%;

	.social-anim-line__dotted {
		height: 100%;

		&::before {
			animation-duration: 5s;
			animation-delay: 0s;
			animation-name: bgAnimItem;
		}

		&::after {
			animation-duration: 5s;
			animation-delay: 1.2s;
			animation-name: bgAnimItem;
		}
	}
}

@keyframes bgAnimItem {
	0% {
		top: -24px
	}

	100% {
		top: 120%
	}
}

.social-icons {
	@include dFlex;
	flex-direction: column;
	padding: 24px 0;
	@include posCenterLeft;
	top: 260px;
	@include bgBlur;
}

.social-icon {
	color: $white;
	background-color: transparent;
	padding: 15px;
	@include btnTransition;
	border-radius: $border-radius-12;

	&__behance,
	&__codepen {
		width: 32px;
		height: 32px;
	}

	&:hover,
	&:focus {
		@include btnHover;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($black, 0.8);
	opacity: 0;
	pointer-events: none;
	@include bgBlur;
	z-index: $z-index-8;
	transition: opacity $transition-2;
}

.modal__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	z-index: $z-index-8;
}

.modal-content {
	max-width: 450px;
	width: 100%;
	min-height: 225px;
	background-color: $main-color;
	@include bgBlur;
	border-radius: $border-radius-24;
	margin: 20px 0 20px 0;
	padding: 15px 10px;
	color: $white;
	@include fz24;
	font-weight: 700;
	scale: 0;
	opacity: 0;
	transition-delay: 0.1s;
	transition: opacity $transition-3, scale $transition-3;

	&__link:hover,
	&__link:focus {
		@include btnHover;
	}
}

.modal-content__inner {
	@include dFlex;
	justify-content: space-between;
	margin-bottom: 41px;
	padding-left: 8px;
	padding-right: 3px;
}

.modal-content__icon-sprite {
	display: block;
	width: 35px;
	height: 35px;
}

.modal-content__link {
	@include dFlex;
	color: $white;
	border-radius: $border-radius-24;
	padding: 10px 12px;
	@include btnTransition;

	&-icon {
		width: 35px;
		height: 35px;
	}

	&-title {
		margin-left: 12px;
	}
}

.active {
	pointer-events: auto;
	opacity: 1;

	.modal-content {
		scale: 1;
		opacity: 1;
	}
}

.card__items {
	@include dFlex;
	position: fixed;
	bottom: 64px;
	right: 195px;
	z-index: $z-index-3;
	transition: all $transition-1;
}

.card__item {
	display: block;
	max-width: 432px;
	width: 100%;
	height: 264px;
	transform: translateZ(0);
	border-radius: $border-radius-24;
	border: 2px solid $main-color;
	box-shadow: $box-shadow-5;
	overflow: hidden;
	position: relative;
	transition: all $transition-1;

	&:hover,
	&:focus {
		box-shadow: $box-shadow-6;

		.card__inner {
			opacity: 1;
		}
	}
}

.card__img {
	@include dFlex;
	justify-content: center;
	width: 100%;
	height: 100%;

	img {
		height: 100%;
		object-fit: cover;
	}

}

.card__item:nth-child(1) {
	margin-right: 50px;
}

.card__inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include dFlex;
	justify-content: center;
	flex-direction: column;
	@include bgBlur;
	border-radius: $border-radius-20;
	background-color: rgba($black, 0.7);
	opacity: 0;
	transition: opacity $transition-2;
}

.card__title {
	@include fz34;
	font-weight: 700;
	margin-bottom: 28px;
	color: $white;
}

.card__btn {
	@include fz24;
	font-weight: 700;
	color: $white;
	border-radius: $border-radius-24;
	background-color: $main-color;
	padding: 4px 46px;
}

.pattern-anim {
	@include posCenterLeft;
	top: 0;
	pointer-events: none;
	z-index: $z-index-minus-1;
}

.pattern-anim__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1920px;
	height: 1080px;
	position: relative;
}

.pattern-anim__icon {
	position: absolute;
	color: $white;
	opacity: 20%;
	animation-duration: 1s;
	animation-name: animPattern;
	animation-iteration-count: infinite;

	svg {
		width: 110px;
		height: 110px;
	}
}

.pattern-anim__icon--pos-1 {
	transform: rotate(-17deg);
	top: 200px;
	right: 333px;
	animation-delay: 0s;
}

.pattern-anim__icon--pos-2 {
	transform: rotate(-27deg);
	top: 96px;
	right: 605px;
	animation-delay: 1.2s;
}

.pattern-anim__icon--pos-3 {
	top: 335px;
	right: 705px;
	animation-delay: 0.8s;
}

.pattern-anim__icon--pos-4 {
	transform: rotate(79deg);
	top: 100px;
	left: 668px;
	animation-delay: 0.4s;
}

.pattern-anim__icon--pos-5 {
	transform: rotate(26deg);
	top: 234px;
	left: 856px;
	animation-delay: 1.8s;
}

.pattern-anim__icon--pos-6 {
	transform: rotate(15deg);
	top: 484px;
	right: 205px;
	animation-delay: 0.1s;
}

.pattern-anim__icon--pos-7 {
	right: 356px;
	bottom: 192px;
	animation-delay: 0.9s;
}

.pattern-anim__icon--pos-8 {
	transform: rotate(-35deg);
	top: 360px;
	right: 482px;
	animation-delay: 0.46s;
}

.pattern-anim__icon--pos-9 {
	transform: rotate(46deg);
	left: 883px;
	bottom: 321px;
	animation-delay: 3.25s;
}

.pattern-anim__icon--pos-10 {
	transform: rotate(68deg);
	right: 641px;
	bottom: 148px;
	animation-delay: 1.7s;
}

.pattern-anim__icon--pos-11 {
	transform: rotate(-26deg);
	left: 714px;
	bottom: 130px;
	animation-delay: 1.7s;
}

.pattern-anim__icon--pos-12 {
	left: 505px;
	top: 277px;
	animation-delay: 0s;
}

.pattern-anim__icon--pos-13 {
	transform: rotate(23deg);
	left: 638px;
	top: 477px;
	animation-delay: 0.34s;
}

.pattern-anim__icon--pos-14 {
	transform: rotate(22deg);
	left: 313px;
	top: 159px;
	animation-delay: 0.87s;
}

.pattern-anim__icon--pos-15 {
	transform: rotate(95deg);
	left: 303px;
	top: 426px;
	animation-delay: 1.03s;
}

.pattern-anim__icon--pos-16 {
	transform: rotate(329deg);
	left: 426px;
	bottom: 176px;
	animation-delay: 2.55s;
}


@keyframes animPattern {
	0% {
		scale: 1;
	}

	50% {
		scale: 0.95;
	}

	100% {
		scale: 1;
	}
}

.blog-info {
	padding: 90px 0 130px 0;
	pointer-events: none;
	position: relative;
	z-index: $z-index-1;
}

.title {
	@include fz128;
	color: $black-green;
}

.subtitle {
	@include fz96;
	color: $white;
	text-shadow: $box-shadow-3;
}

.title,
.subtitle {
	word-wrap: break-word;
}

.blog-box {
	height: 100%;
	position: relative;
	transform: translateZ(0);
	padding-bottom: 200px;
	z-index: $z-index-8;

	&__inner {
		max-width: 100%;
		width: 100%;
		min-height: 100px;
		height: 100%;
		background: $white;
		transform: translateZ(0);
		border-radius: $border-radius-34;
		position: relative;
		box-shadow: $box-shadow-5;
		overflow: hidden;
	}

	&__img {
		height: 494px;
		margin-bottom: 54px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			scale: 1;
			transition: scale $transition-1;
		}

		&:hover {
			img {
				scale: 1.02;
			}
		}
	}

	&__img--position {
		img {
			width: initial;
			height: initial;
		}
	}

	&__title {
		@include fz45;
		margin-bottom: 24px;
	}

	&__subtitle {
		margin-bottom: 48px;
	}

	&__title,
	&__subtitle,
	&__block,
	&__info-title {
		padding: 0 52px;
	}

	&__achievements {
		@include dFlex;
		flex-wrap: wrap;
		justify-content: space-around;
		@include fz32;
		margin-bottom: 45px;
	}

	&__link {
		display: flex;
		justify-content: center;
		margin-bottom: 52px;
		transition: color $transition-1;

		&:hover,
		&:focus {
			color: $main-color;
		}
	}

	&__item {
		scale: 1;
		transition: color $transition-1, scale $transition-1;
	}

	&__item-inner {
		@include dFlex;
		margin-bottom: 6px;
	}

	&__item-icon {
		svg {
			width: 46px;
			height: 46px;
		}
	}

	&__item-title {
		font-weight: 600;
		margin-left: 22px;
	}

	&__item-counter {
		font-weight: 500;
		text-align: center;
	}

	&__item-title,
	&__item-counter {
		display: block;
		pointer-events: none;
	}

	&__item:hover {
		scale: 1.02;

		.blog-box__item-icon,
		.blog-box__item-title,
		.blog-box__item-counter {
			color: $main-color;
		}
	}

	&__block {
		min-height: 0;
		height: 0;
		background-color: $gray-2;
		overflow: hidden;
		transition: all $transition-2;
	}

	&__btn-more {
		@include fz24;
		text-align: center;
		font-weight: 700;
		max-width: 100%;
		width: 100%;
		height: 54px;
		color: $black;
		background-color: $white-gray;
		padding: 8px 0;
		transition: color $transition-1, background-color $transition-1, box-shadow $transition-1;

		&:hover {
			@include btnHover;
		}
	}

	&__gallery {
		max-width: 100%;
		width: 100%;
		height: 786px;
		display: flex;
		flex-wrap: wrap;
		transform: translateZ(0);
		margin-bottom: 40px;
		position: relative;
		overflow: hidden;

		&-counter {
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
			color: $white;
			min-width: 176px;
			height: 48px;
			transform: translateZ(0);
			border-top-left-radius: $border-radius-24;
			background-color: rgba($black, 0.5);
			@include bgBlur;
			padding-top: 5px;
			padding-left: 16px;
			padding-right: 12px;
			pointer-events: none;
			z-index: $z-index-8;
		}

		&-wrap {
			@include dFlex;
			justify-content: center;
			transform: translateZ(0);
			width: calc(25%);
			height: 262px;
			position: relative;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: $z-index-0;
				background-color: rgba($black, 0.6);
				pointer-events: none;
				@include bgBlur2;
				opacity: 0;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: $z-index-1;
				color: $white;
				pointer-events: none;
				background-image: url('../img/sprite.svg#icon-fullscreen');
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 55px;
				opacity: 0;
			}

			&::before,
			&::after {
				transition: opacity $transition-1;
			}
		}

		&-preview {
			object-fit: contain;
			height: 262px;
		}

		&-wrap:hover {

			&::before,
			&::after {
				opacity: 1;
			}
		}

	}
}

.close-text {
	font-size: 0;
	background-color: $main-color;
	color: $white;
	box-shadow: $box-shadow-7;

	&::before {
		content: "Close";
		@include fz24;
	}
}

.open {
	min-height: 100%;
	height: 366px;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 12px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $black-gray-3;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: $black-gray-2;
	}

	&::-webkit-scrollbar-track {
		background-color: rgba($black, 0.11);

	}
}

.blog-box__info-title {
	text-align: center;
	@include fz34;
	font-weight: 600;
	margin-bottom: 24px;
}


.blog-box__skills {
	@include dFlex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 52px;
}

.blog-box__skills-item {
	max-width: calc(24%);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 14px;
	margin: 18px 4px;
	transition: color $transition-1;

	&:hover {
		color: $main-color;
	}
}

.blog-box__skills-icon {
	margin-bottom: 12px;

	svg {
		width: 70px;
		height: 70px;
	}
}

.blog-box__skills-title {
	pointer-events: none;
}

.blog-box__vso {
	display: flex;
	justify-content: center;
	margin-bottom: 52px;
}

.mobile-info {
	display: none;
	padding-top: 30px;
	margin-bottom: 34px;
	pointer-events: none;

	&__inner {
		font-weight: 700;
	}

	&__title {
		@include fz45;
		color: $black-green;
	}

	&__subtitle {
		@include fz48;
		color: $white;
		text-shadow: $box-shadow-3;
		margin-top: -16px;
	}

	&__title,
	&__subtitle {
		position: relative;
		z-index: $z-index-1;
	}
}

.blog-box-items {
	margin-bottom: 40px;

	&__inner {
		display: flex;
		flex-wrap: wrap;
	}

	&__link {
		width: calc(25%);
		height: 242px;
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: $z-index-0;
			background-color: rgba($black, 0.6);
			pointer-events: none;
			@include bgBlur2;
			opacity: 0;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: $z-index-1;
			color: $white;
			pointer-events: none;
			background-image: url('../img/sprite.svg#icon-link');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 55px;
			opacity: 0;
		}

		&::before,
		&::after {
			transition: opacity $transition-1;
		}

		&:hover,
		&:focus {

			&::before,
			&::after {
				opacity: 1;
			}
		}
	}
}