@media (max-width:1920px) and (max-height: 1080px) {

    .max,
    .dev {
        left: 423px;
    }

    .max {
        top: 313px;
    }

    .dev {
        top: 520px;
    }
}

@media (max-width:1920px) and (max-height: 1000px) {

    .max,
    .dev {
        left: 366px;
    }

    .max {
        top: 240px;
    }

    .dev {
        top: 430px;
    }
}

@media (max-width: 1600px) and (max-height: 900px) {
    body::before {
        max-width: 300px;
    }

    .header__inner {
        padding-top: 20px;
    }

    .rubberfield {
        max-width: 492px;
    }

    .social {
        right: 86px;
    }

    .social-icons {
        top: 146px;
    }

    .max,
    .dev {
        @include fz233;
        left: 354px;
    }

    .max {
        top: 257px;
    }

    .dev {
        top: 420px;
    }

    .card__items {
        bottom: 33px;
        right: 118px;
    }

    .card__item:nth-child(1) {
        margin-right: 40px;
    }

    .blog-info {
        padding: 48px 0 69px;
    }

    .title {
        @include fz96;
    }

    .subtitle {
        @include fz62;
    }

    .blog-box {

        &__img {
            height: 352px;
            margin-bottom: 26px;
        }

        &__title,
        &__subtitle,
        &__block,
        &__info-title {
            padding: 0 34px;
        }

        &__achievements {
            @include fz24;
            margin-bottom: 26px;
        }
    }
}

@media (max-width: 1536px) and (max-height: 864px) {
    .rubberfield {
        max-width: 480px;
    }

    .social {
        right: 92px;
    }

    .max,
    .dev {
        @include fz220;
        left: 340px;
    }

    .max {
        top: 241px;
    }

    .dev {
        top: 386px;
    }

    .card__items {
        bottom: 33px;
        right: 145px;
    }

    .card__item {
        max-width: 382px;
        height: 240px;
    }

    .card__item:nth-child(1) {
        margin-right: 35px;
    }
}

@media (max-width: 1440px) and (max-height: 900px) {
    .rubberfield {
        max-width: 420px;
    }

    .max,
    .dev {
        @include fz190;
        left: 357px;
    }

    .max {
        top: 265px;
    }

    .dev {
        top: 400px;
    }

    .card__items {
        bottom: 53px;
        right: 145px;
    }

    .card__item {
        max-width: 382px;
        height: 240px;
    }

    .card__item:nth-child(1) {
        margin-right: 40px;
    }

}

@media (max-width: 1366px) and (max-height: 768px) {
    body::before {
        max-width: 260px;
    }

    .header__inner {
        padding-top: 40px;
    }

    .rubberfield {
        max-width: 406px;
    }

    .social-icons {
        top: 174px;
    }

    .max,
    .dev {
        @include fz190;
        left: 300px;
    }

    .max {
        top: 210px;
    }

    .dev {
        top: 340px;
    }
}

@media (max-width: 1200px) {

    body::before {
        max-width: 200px;
    }

    .header__inner {
        justify-content: space-between;
        padding-top: 18px;
    }

    .logo {
        width: 56px;
        height: 56px;
    }

    .logo--size {
        width: 249px;
    }

    .header-button {
        @include fz20;
        font-weight: 500;
        border-radius: $border-radius-18;
        padding: 4px 26px;
        width: 160px;
        min-height: 56px;
    }

    .main-info__inner {
        display: none;
    }

    .mobile-info {
        display: block;
    }

    .logo__link {
        margin-left: initial;
    }

    .rubberfield {
        display: none;
    }

    .social {
        right: 53px;
    }

    .social-icons {
        top: 99px;
        padding: initial;
    }

    .pattern-anim {
        display: none;
    }

    .card__items {
        position: initial;
        bottom: initial;
        right: initial;
        flex-direction: column;
        align-items: start;
        padding: 0 15px;
    }

    .card__item {
        max-width: 262px;
        height: 178px;
        box-shadow: $box-shadow-6;

        &:hover,
        &:focus {
            box-shadow: initial;

            .card__inner {
                opacity: initial;

            }
        }
    }

    .card__item:nth-child(1) {
        margin-right: initial;
        margin-bottom: 20px;
    }

    .card__inner {
        opacity: 1;
        @include bgBlur2;
    }

    .card__title {
        @include fz24;
        font-weight: 500;
        margin-bottom: 18px;
    }

    .card__btn {
        @include fz20;
        font-weight: 500;
        padding: 8px 32px;
    }

    .modal-content {
        min-height: 174px;
        border-radius: $border-radius-18;
        margin: 10px 0;
    }

    .modal-content__inner {
        margin-bottom: 18px;
    }

    .modal-content__icon-sprite {
        width: 28px;
        height: 28px;
    }

    .modal-content__link {
        @include fz20;
        font-weight: 500;

        &-icon {
            width: 24px;
            height: 24px;
        }

        &-title {
            margin-left: 8px;
        }
    }

    .blog-info {
        padding: 30px 0 42px;
    }

    .title {
        @include fz48;
    }

    .subtitle {
        @include fz36;
    }

    .blog-box {
        @include fz18;
        padding-bottom: 60px;

        &__img {
            height: 200px;
            margin-bottom: 8px;
        }

        &__img--position {
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__title {
            @include fz24;
            margin-bottom: 8px;
        }

        &__subtitle {
            margin-bottom: 16px;
        }

        &__title,
        &__subtitle,
        &__block,
        &__info-title {
            padding: 0 14px;
        }

        &__achievements {
            margin-bottom: 26px;
        }

        &__item-inner {
            margin-bottom: 0;
        }

        &__item-icon {
            svg {
                width: 24px;
                height: 24px;
            }
        }

        &__item-title {
            margin-left: 8px;
        }

        &__item-counter {
            @include fz20;
        }

        &__btn-more {
            @include fz18;
            font-weight: 500;
            height: 40px;
            padding: 5px 0;
        }

        &__gallery {
            height: 720px;
            margin-bottom: 12px;

            &-counter {
                min-width: 162px;
                height: 36px;
                border-top-left-radius: $border-radius-16;
                padding-top: 2px;
                padding-left: 10px;
                padding-right: 9px;
            }

            &-wrap {
                height: 180px;

                &::after {
                    background-size: 34px;
                }
            }

            &-preview {
                height: 180px;
            }
        }
    }

    .blog-box-items {
        &__link {
            height: 180px;

            &::after {
                background-size: 34px;
            }
        }
    }

    .close-text {
        font-size: 0;

        &::before {
            @include fz18;
        }
    }

    .blog-box__info-title {
        @include fz24;
        font-weight: 500;
        margin-bottom: 12px;
    }

    .blog-box__skills {
        margin-bottom: 18px;
    }

    .blog-box__skills-icon {
        margin-bottom: 6px;

        svg {
            width: 42px;
            height: 42px;
        }
    }

    .blog-box__info-title--none-mobile {
        display: none;
    }

    .blog-box__vso {
        display: none;
    }
}

@media (max-width: 1200px) and (max-height: 600px) {
    .mobile-info {
        padding-top: 8px;
        margin-bottom: 8px;
    }

    .card__item:nth-child(1) {
        margin-bottom: 6px;
    }
}

@media (max-width: 940px) {

    .header__inner--margin {
        display: none;
    }

    .logo-mobile {
        display: block;
    }

    .blog-box {

        &__achievements {
            margin-bottom: 12px;
        }

        &__item {
            padding: 0 14px;
            margin-bottom: 8px;
        }

        &__item-icon {
            svg {
                width: 20px;
                height: 20px;
            }
        }

        &__item-title {
            @include fz20;
            font-weight: 500;
            margin-left: 6px;
        }

        &__gallery {
            height: 558px;

            &-wrap {
                width: calc(33.33%);
                height: 186px;
            }

            &-preview {
                height: 186px;
            }
        }

    }

    .blog-box-items {
        &__link {
            width: calc(33.33%);
            height: 186px;

            &::after {
                background-size: 34px;
            }
        }
    }
}

@media (max-width: 800px) {
    .blog-box__skills {
        margin-bottom: 12px;
    }

    .blog-box__skills-item {
        max-width: initial;
        width: auto;
        margin: 8px 4px;
    }
}

@media (max-width: 634px) {
    .blog-info {
        padding-right: 70px;
    }

    .blog-box {

        &__gallery {
            height: 372px;

            &-wrap {
                width: calc(50%);
            }
        }
    }

    .blog-box-items {
        &__link {
            width: calc(50%);
        }
    }
}

@media (max-width: 372px) {
    .social {
        right: 40px;
    }
}

@media (max-width: 320px) {
    .blog-box {
        .container {
            margin: 0;
            padding: 0;
        }
    }

    .blog-info {
        padding-right: initial;
        padding-top: 70px;
        padding-bottom: 26px;
    }

    .social {
        right: 76px;
    }

    .social-icons {
        top: 83px;
        flex-direction: initial;
        padding: 2px 6px;
    }
}