r3-badge {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 999999;
}

@media (prefers-color-scheme: dark) {
  r3-badge {
    --bg-badge: #fff;
    --text-badge: #000;
  }
}

@media (prefers-color-scheme: light) {
  r3-badge {
    --bg-badge: #fff;
    --text-badge: #000;
  }
}
