/* -mixins */

@mixin font-face($name, $file, $weight: 400, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		src: local("#{$file}"),
		url('../fonts/#{$file}.woff2') format('woff2'),
		url('../fonts/#{$file}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

/* -font-size, line-height +14px */
@mixin fz16 {
	font-size: 16px;
	line-height: 30px;
}
@mixin fz18 {
	font-size: 18px;
	line-height: 32px;
}
@mixin fz20 {
	font-size: 20px;
	line-height: 24px;
}
@mixin fz24 {
	font-size: 24px;
	line-height: 38px;
}
@mixin fz32 {
	font-size: 32px;
	line-height: 46px;
}
@mixin fz34 {
	font-size: 34px;
	line-height: 48px;
}
@mixin fz36 {
	font-size: 36px;
	line-height: 50px;
}
@mixin fz45 {
	font-size: 45px;
	line-height: 59px;
}
@mixin fz48 {
	font-size: 48px;
	line-height: 62px;
}
@mixin fz62 {
	font-size: 62px;
	line-height: 76px;
}
@mixin fz96 {
	font-size: 96px;
	line-height: 110px;
}
@mixin fz128 {
	font-size: 128px;
	line-height: 142px;
}
@mixin fz190 {
	font-size: 190px;
	line-height: 214px;
}
@mixin fz220 {
	font-size: 220px;
	line-height: 234px;
}
@mixin fz233 {
	font-size: 233px;
	line-height: 247px;
}
@mixin fz270 {
	font-size: 270px;
	line-height: 284px;
}
@mixin fz300 {
	font-size: 300px;
	line-height: 314px;
}

/* -display flex */
@mixin dFlex {
	display: flex;
	align-items: center;
}

/* -border-radius */
@mixin bR16 {
	border-radius: $border-radius-24;
}

/* -position */

@mixin posCenterA {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin posCenterLeft {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin sizeCanvas {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

/* -btn */
@mixin no-btn {
	width: inherit;
	height: inherit;
	padding: inherit;
	margin: inherit;
	border: inherit;
	background-color: transparent;
	border-radius: 0;
	cursor: pointer;
	-webkit-appearance: none;
}

@mixin btnHover {
	background-color: $white;
	color: $main-color;
	box-shadow: $box-shadow-7;
}

@mixin btnTransition {
	transition: background-color $transition-1, color $transition-1, box-shadow $transition-1;
}

@mixin bgLinerColor{
	background: linear-gradient(118.7deg, $main-color 43.7%, $main-color-2 94.81%);
}

@mixin bgBlur {
	backdrop-filter: blur(7px);
}

@mixin bgBlur2 {
	backdrop-filter: blur(3px);
}

/* -@media */

$breakpoints: (
	"xx-small": (
		max-width: 380px,
	),
	"x-small": (
		max-width: 539px,
	),
	"small": (
		max-width: 719px,
	),
	"medium": (
		max-width: 991px,
	),
	"x-medium": (
		max-width: 1200px,
	),
	"large": (
		max-width: 1329px,
	),
	"x-large": (
		max-width: 1521px,
	),
	"xx-large": (
		min-width: 1920px,
	),
	"height-x-large":(
		min-height: 1080px,
	),
);

@mixin media($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
		  + "Please make sure it is defined in `$breakpoints` map.";
	}
}

/* #mixins */